# Results of Testing

The test results show the actual outcome of the testing, following the [Test Plan](test-plan.md)

---

## Testing Coin Placement

I need to make sure that coins are placed on the grid correctly

### Test Data To Use

I will run the game multiple times to see how the coins get placed

### Expected Test Result

I should see always see five coins called Coin 1, Coin 2, Coin 3, Coin 4 and, Gold, each coin should be in a random grid and not in the same grid as another coin

![200DTD_CoinPlacementTest.png](../../Testing%20Plan/200DTD_CoinPlacementTest.png)
![200DTD_CoinPlacementTest2.png](../../Testing%20Plan/200DTD_CoinPlacementTest2.png)

In my first test each coin was placed into a grid like I expected, I then ran the code again to check whether their placement was random or not.
As seen in the second image the coins were placed into different grids as the previous test.
I then ran the code again to make sure that their placement was definitely random and each time most of the coins were in different grids from the previous and not in the same grids as another coin.

---

## Testing Grid Display

I need to make sure that coins and grid are displayed so that the user can see the game board and the changes that

### Test Data To Use

I will run the game multiple times to see how the coins get placed

### Expected Test Result

The grids will have every coin fitting nicely inside and the corners of each grid will have the + line up with the sides |, I expect the coins to fit within the sides |   |

![200DTD_GridDisplayTest.png](../../Testing%20Plan/200DTD_GridDisplayTest.png)

When I was to run the code the grid appeared in the +--------+ | | way that I had expected that it would line up and when the coins were placed inside the grids were not moved in any way and the coins fitted nicely inside.

---


## Example Test Name

Example test description. Example test description.Example test description. Example test description.Example test description. Example test description.

### Test Data Used

Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data.

### Test Result

![example.png](screenshots/example.png)

Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result.

---

